/* Custom Stylesheet */

.hidden {
	visibility: hidden;
}
.solid-border {
	border: 1px solid;
	border-color: #000;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.center {
	text-align: center;
}